// COLORS

$color-primary-purple: rgb(138, 43, 226);
$color-purple-1: rgb(176, 61, 233);

$color-primary-blue: rgb(71, 187, 255);
$color-blue-1: rgb(35, 166, 213);
$color-blue-2: rgb(4, 217, 255);

$color-turquoise-1: rgb(35, 213, 171);

$color-pink-1: rgb(255, 71, 188);
$color-pink-2: rgb(255, 105, 180);
$color-pink-3: rgb(231, 60, 126);


$color-orange-1: rgb(255, 165, 0);
$color-orange-2: rgb(238, 119, 82);

$color-error-red: rgb(255, 74, 74);

$color-black: #000;
$color-white: #fff;